body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-section {
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 50vh;
    height: 50vh;   
    padding: 10px;
    /*
    Alternative syntax:
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
    margin: 10px;
    /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}

/*
Add some style blocks below this line to style the card.
*/
.card1 {
    border: dotted 1px #CCC; 
    width: 45vh;
    height: 7vh;   
    padding: 5px;
    /*
    Alternative syntax:
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
    margin: 5px;
    /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}

img {
    padding: 5px
}

.text {
    padding: 5px
}

section {
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: dotted 1px #CCC;
}

button {
    width: 60px
}